<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tulingxueyuan.mapper.DeptMapper">
    <cache type="org.mybatis.caches.redis.RedisCache"
           eviction="FIFO"
           flushInterval="60000"
           size="512"
           readOnly="false"/>
<!--useCache  是否需要使用二级缓存
默认 true 使用
     false 不使用-->
    <select id="selectDept" resultType="cn.tulingxueyuan.pojo.Dept">
        select * from dept
        <where>
            <if test="id!=null and id>0">
                and id=#{id}
            </if>
            <if test="deptName!=null and deptName!=''">
                and dept_name=#{deptName}
            </if>
        </where>
    </select>
<!-- flushCache默认为true 当执行该sql就会清空二级缓存
                    false就不会清空二级缓存-->
    <insert id="insert" flushCache="false">
        insert into dept (dept_name) values (#{deptName})
    </insert>
</mapper>